@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.about {
  &_img {
    margin: 0 auto;
    height: 250px;
    width: 200px;
    background: url("https://fastly.picsum.photos/id/5/200/300.jpg?hmac=1TWjKFT7_MRP0ApEyDUA3eCP0HXaKTWJfHgVjwGNoZU");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $borderRadius;
    margin-bottom: 1em;
  }

  &_item {
    @include card();
    margin: 1em;
  }
  &_item--accent {
    @include card(light);
    margin: 1em;
    width: 60%;
  }

  h4 {
    margin: 0;
  }
  &_wrapper{
    display: flex;
    align-items: center;
  }
}
