@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.about {

  &_img {
    margin: 0 auto;
    height: 250px;
    width: 200px;
    background: url("https://fastly.picsum.photos/id/5/200/300.jpg?hmac=1TWjKFT7_MRP0ApEyDUA3eCP0HXaKTWJfHgVjwGNoZU");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $borderRadius;
    margin-bottom: 1em;
  }

  &_item {
    @include card();
    &--accent{
      @include card(light);
      width: 60%;
    }
  }
  &_additional{
   p{
    font-size: 0.8rem; 
    color: $color-accent;
   }
  }

  h4 {
    margin: 0;
    font-size: 0.9rem;
  }

  &_work{
    text-align: right;
  }
  
  &_wrapper{
    display: flex;
    align-items: center;
  }
  &_info{
    margin: 2em 0;
    p{
      font-weight: lighter;
      color: $color-accent;
    }
  }
}
