@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.about {
  &_img {
    margin: 0 auto;
    height: 250px;
    width: 200px;
    background: url("../../assets/magda.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $borderRadius;
    margin-bottom: 1em;
  }

  &_item {
    @include card();
    &--accent {
      @include card(light);
      width: 60%;
    }
  }
  &_additional {
    p {
      font-size: 0.8rem;
      color: $color-accent;
    }
  }

  h4 {
    margin: 0;
    font-size: 0.9rem;
  }

  &_work {
    text-align: right;
  }

  &_wrapper {
    display: flex;
    align-items: center;
  }
  &_info {
    margin: 2em 0;
    p {
      font-weight: lighter;
      color: $color-accent;
    }
    @include md {
      display: flex;
    }
  }
}

@include md {
  .about {
    &_info {
      display: flex;
      gap: 2em;

      h4{
        width: fit-content;
        white-space: nowrap;
      }
      p{
        margin: 0 auto;
        width: 60%;
      }
    }
  }
}

@include xl {
  .about {
    &_section{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 1em
    }
    &_work{
      @include lg{
          width: 80%;
          margin: 0 auto;
      }
    }
  }
}

.text > p > div {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%,
    rgb(37, 37, 37) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /*   margin-bottom: -250px; */
  margin-left: 50px;
  line-height: 1.2;
  /*   outline: 6px dotted teal; */
  font-size: 10vw;
}