@import "../../styles/mixins.scss";
.hero{

    h1{
        margin: 0;
    }
 

}

@include md {
    .hero {
        &_header{
            display: grid;
            grid-template-areas: "front btn"
                                      "text dev";
        }
        // &_header{
        //     display: grid;
        //     grid-template-areas: "front front"
        //                               "dev dev"
        //                               "text text"
        //                               "btn btn";                        
        // }
        h1:first-child{
            grid-area: front;
        }
        button{
            grid-area: btn;
        }
        p{
            grid-area: text;
        }
        h1:last-child{
            grid-area: dev;
        }
    }

  }