@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.hero{


    p{
       color: $color-accent;
    }
  
i{
    color: black;
}

&_header{
    h1{
        text-align: left;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 500;
    }
    h1:last-of-type{
        margin-left: 2em;
    }
}

&_buttons{
    display: flex;
    align-items: center;
    gap: 0.4em;
}
&_media{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
}

@include md {
    .hero {
        &_header{
            display: grid;
            grid-template-areas: "front btn"
                                      "text dev";
        }
        // &_header{
        //     display: grid;
        //     grid-template-areas: "front front"
        //                               "dev dev"
        //                               "text text"
        //                               "btn btn";                        
        // }
        h1{
            font-size: 4.5rem;
        }
        h1:first-child{
            grid-area: front;
        }
        &_buttons{
            grid-area: btn;
        }
        p{
            grid-area: text;
        }
        h1:last-child{
            grid-area: dev;
        }
    }

  }