@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$border: 1px solid $color-tertiary;

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  td {
    padding: 0.5em;
    font-size: 0.9rem;
  }
  tr {
    border-top: $border;
    border-bottom: $border;
  }
  tr:first-child {
    background-color: $color-secondary;
    * {
      color: $color-primary;
    }
    td:last-child{
      p:last-child{
        border-left: 1px solid $color-primary;
      }
    }
  }
  p {
    margin: 0;

  }

  &_years {
    color: $color-accent;
    span {
      font-size: 0.7rem;
      font-weight: lighter;
  
    }
  }

  &_company {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  &_position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    p:first-child {
      display: inline-block;
      padding-right: 1em;
      border-right: 1px solid $color-secondary;
    }
    p:last-child {
      padding-left: 1em;
    }
  }
}

