@import './variables.scss';


* {
    box-sizing: border-box;
  }

  html, body {
    overflow-x: hidden; /* Ukrycie horyzontalnego paska przewijania */
}

body {
    font-family: $font-body;
    background-color: $color-primary;
    margin: 0;
    padding: 0 1rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    color: $color-secondary;
  }
  
  p, i {
    color: $color-secondary;
  }
  
  a {
    text-decoration: none;
    color: $color-secondary;
  }
  
  a:hover {
    color: $color-accent;
  }
  

  .swiper {
    width: 100%;
  }
  
  .swiper-slide {

  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;


  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .swiper-slide{
    .slideItem{
      height: 200px;
      text-align: center;
      font-size: 35px;
      background: #fff;
      border-radius: 20px;
    }
    .active{
      transform: scale(1.2);
    }
  }
 

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 1px solid $color-accent;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background: $color-secondary;
  }