
@import '../../styles/variables.scss';

.background {
    position: relative;
    width: 100%;
}

.circle {
    position: absolute;
    border: 1px solid $color-tertiary; 
    border-radius: 50%;
    right: -50px; 
    transform: translateY(-50%); 
}

.content {
    position: relative;
}
