
@import '../../styles/variables.scss';

.background {
    position: relative;
    width: 100%;
}

.circle {
    position: absolute;
    border: 1px solid $color-tertiary; /* Biały okrąg */
    border-radius: 50%;
    right: -50px; /* Przesunięcie okręgu poza ekran z prawej strony */
    transform: translateY(-50%); /* Środek okręgu jest na pozycji top */
    z-index: -1;
}

.content {
    position: relative;
}
