.buttons {
    position: relative;
    display: inline-block;
    display: flex;
    height: 2.2em;

    .button {
      position: absolute;
    }
    .button:nth-child(1) {
      top: 0;
      left: 0;
    }
    .button:nth-child(2) {
      left: 25px;
    }
  }